body {
    margin: 0;
    font-family: Arial, Tahoma;
    direction: rtl;
    background: #f4f6f8;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #004aad, #007bff);
    color: white;
    padding: 40px 15px;
}

section {
    background: white;
    margin: 25px auto;
    padding: 25px;
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #004aad;
}

img {
    width: 260px;
    border-radius: 15px;
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #004aad;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background: #003080;
}

footer {
    background: #004aad;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
